@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300);
html, body{
	height: 100%;
}

body {
        margin: 0;
	padding: 0;
	font-family: Verdana, Arial, sans-serif; 
	font-weight: 100;
	background: #eee;
	background-repeat: no-repeat;
	background-attachment: fixed !important;

	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #D9EEEE 0%, #EEEEEE 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #D9EEEE 0%, #EEEEEE 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #D9EEEE 0%, #EEEEEE 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D9EEEE), color-stop(1, #EEEEEE));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #D9EEEE 0%, #EEEEEE 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #D9EEEE 0%, #EEEEEE 100%);
	
}

ul {
	margin: 0px;
}

li {
	margin: 0px;
	padding: 3px;
}

#homeButton {
	color: #000;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 6px;
	font-weight: bold;
	display: block;
	text-align: center;
	border-bottom: 1px solid #000;
	width: 95%;
}

.floatright {
	display:inline-block;
	float:right;
}

.nodeinfo {
        position: relative;
	display: block;
        width: 70%;
	height: auto;
	padding: 10px;
	background: #fff;
	color: #000;
	margin-left: 10px;
	margin-bottom: 15px;
	border: 1px solid #000;
        box-shadow: 10px 10px 5px #888888;
}

.nodeinfo h2 {
	margin: 0;
}

#loginborder {
	background: #c3d9ff; /* Old browsers */
	background: -moz-linear-gradient(top, #c3d9ff 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3d9ff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c3d9ff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c3d9ff 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c3d9ff 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #c3d9ff 0%,#eeeeee 100%); /* W3C */
        margin-left: 2px;
	width: 894px;
	height: auto;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

#adminContent {
	width: auto;
        padding-top: 20px;
	margin-left: 275px;
}

#leftMenu {
	position: fixed;
	top: 50px;
	left: 0;
	bottom: 0;
	width: 250px;
	padding: 0px 0px 15px 15px;
	margin: 0px; 
	background: #fff;
	border-right: 2px solid #999;
	overflow: auto;
}

#header {
	position: relative;
	display: block;
	color: #fff;
	margin: 0;
	padding: 0 0 0 0;
	width: 100%;
	background: #000;
	height: 50px;
	-webkit-box-shadow: 0 0px 6px 6px #B0E0E6;
	-moz-box-shadow: 0 0px 6px 6px #B0E0E6;
	box-shadow: 0 0px 6px 6px #B0E0E6;
}

#logo {
	font-family: "Josefin Sans", Helvetica, Arial, sans-serif; 
	font-size: 196px;
	font-weight: light;
	text-align: center;
	letter-spacing: -20px;
	margin: 0;
	padding: 0;
	color: #000;
}

#vcontainer {
	position: absolute;
	display: block;
	top: 15%;
	left: 50%;
 	margin-left: -450px;
	width: 900px;
	height: 470px;
}

.sublogo {
	font-family: "Josefin Sans", Helvetica, Arial, sans-serif; 
	font-size: 28px;
	text-align: center;
	margin: 0;
	margin-top: -30px;
	letter-spacing: 15px;
	padding: 0;
	color: #dc143c;
	text-shadow: 0px 0px 25px rgba(50, 50, 50, 1);
}

#leftHeader {
	float: left;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
}

#rightHeader {
	float: right;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
}

.menuitem {
	font-weight: 200;
	font-size: 18px;
	display: table-cell;
	padding-left: 5px;
	padding-right: 5px;
	height: 50px;
	width: auto;
	vertical-align: middle;
	text-decoration: none;
	color: #fff;
	background: #000;
        transition: background .30s ease-in-out;
        -moz-transition: background .30s ease-in-out;
        -webkit-transition: background .30s ease-in-out;
}

.menuitem:hover {
	background: #B0E0E6;
        color: #000;
}

#sep {
	position: relative;
	display: block;
	width: 898px;
	height: auto;
	margin: 0 auto;
}

.form-container {
   vertical-align: middle;
   margin: 0 auto;
   min-width:300px;
   padding:20px;
   width:300px;
}
.form-field {
   border: 1px solid #000000;
   background: #ffffff;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #aaaaaa;
   padding:8px;
   margin-bottom:10px;
   width:280px;
}
.form-field:focus {
   background: #fff;
   color: #000000;
}
.form-container h2 {
   text-shadow: #eeeeee 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
}
.form-title {
   margin-bottom:10px;
   color: #000000;
   text-shadow: #eeeeee 0 1px 0;
}
.submit-container {
   margin:8px 0;
   text-align:right;
}
.submit-button {
   border: 1px solid #000000;
   background: #0091ff;
   background: -webkit-gradient(linear, left top, left bottom, from(#0091ff), to(#0091ff));
   background: -webkit-linear-gradient(top, #0091ff, #0091ff);
   background: -moz-linear-gradient(top, #0091ff, #0091ff);
   background: -ms-linear-gradient(top, #0091ff, #0091ff);
   background: -o-linear-gradient(top, #0091ff, #0091ff);
   background-image: -ms-linear-gradient(top, #0091ff 0%, #0091ff 100%);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #333333 0 1px 0;
   color: #ffffff;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
}
.submit-button:hover {
   border: 1px solid #000000;
   text-shadow: #333333 0 1px 0;
   background: #0091ff;
   background: -webkit-gradient(linear, left top, left bottom, from(#3daeff), to(#0091ff));
   background: -webkit-linear-gradient(top, #3daeff, #0091ff);
   background: -moz-linear-gradient(top, #3daeff, #0091ff);
   background: -ms-linear-gradient(top, #3daeff, #0091ff);
   background: -o-linear-gradient(top, #3daeff, #0091ff);
   background-image: -ms-linear-gradient(top, #3daeff 0%, #0091ff 100%);
   color: #fff;
}
.submit-button:active {
   text-shadow: #333333 0 1px 0;
   border: 1px solid #000000;
   background: #0091ff;
   background: -webkit-gradient(linear, left top, left bottom, from(#3daeff), to(#0091ff));
   background: -webkit-linear-gradient(top, #3daeff, #0091ff);
   background: -moz-linear-gradient(top, #3daeff, #0091ff);
   background: -ms-linear-gradient(top, #3daeff, #0091ff);
   background: -o-linear-gradient(top, #3daeff, #0091ff);
   background-image: -ms-linear-gradient(top, #3daeff 0%, #0091ff 100%);
   color: #fff;
}

#corner {
   display: block;
   position: fixed;
   color: #fff;
   font-weight: 500;
   bottom: -5px;
   right: -5px;
   margin: 0;
   padding: 5px 10px 10px 10px;
   font-size: 12px;
   text-align: center;
   background: #000000;
   -webkit-box-shadow: 0 0px 6px 6px #ccc;
   -moz-box-shadow: 0 0px 6px 6px #ccc;
   box-shadow: 0 0px 6px 6px #ccc;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   text-decoration: none;
}
